---
layout: default
title: Press releases
suppress_header: true
extra_css:
  - press.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1 Press releases
    %p Read our latest press releases

.gitlab-content-container.margin-top50
  .content
    .content-section
      - data.press.press_releases.sort_by(&:date).reverse.each do |pr|
        .press-block
          .logo-and-date
            - if pr.date
              %time.news-date
                = pr.date.to_time.strftime '%b %e, %Y'
          %p
            = pr.title
          %a.article-link{ href: "#{pr.link}", target: "_blank" }
            Read press release
            %i.fa.fa-arrow-right
