---
title: GitLab Demo
suppress_header: true
extra_css:
  - demo.css
---

.demo-container
  .video-container#video-container{ style: "background: url('/images/demo/demo-background-purple.png') center center no-repeat;background-size: cover;" }
    .demo-info#demo-info
      %h2 Watch a GitLab demo now (18 minutes)
      %p
        GitLab is a complete DevOps platform, delivered as a single application that provides everything you need to Manage, Plan, Create, Verify, Package, Release, Configure, Monitor, and Secure your applications. In this 18 minute recorded video demo, you will see GitLab’s built-in issue tracking, issue boards, version control, code review, Auto DevOps, CI/CD, SAST/DAST and more.

      %p
        Over 100,000 organizations - from startups to global enterprise organizations like Ticketmaster, Paessler AG, NASDAQ, Alibaba, Axway, and Intel - trust GitLab to deliver software faster and more securely.

      %h2 Register now to watch the demo

    #confirmform{ style: "display: none;" }
      .centered-form-info
        %h2 Thanks and enjoy the demo!
        %p
          Have questions? Join a
          %a{ href: "/webcast/weekly-demo/" } LIVE Q&A session.
        %iframe#demo-video{src: "", allow: "autoplay; encrypted-media", allowfullscreen: "allowfullscreen"}
  .demo-form-container#demo-form-container
    %img.demo-icon{ src: "/images/demo/demo.svg", alt: "Gitlab demo icon svg" }
    %h3.margin-bottom30 Register to access the demo
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1754
    :javascript

      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1754, function(form) {
        // Please include the email domains you would like to block in this list
        var invalidDomains = ["@qq.","@163."];

        form.onSuccess(function() {
          // show demo video
          document.getElementById('video-container').style.display = 'block';
          document.getElementById('demo-form-container').style.display = 'none';
          document.getElementById('confirmform').style.display = 'block';
          document.getElementById('demo-video').src = "https://www.youtube.com/embed/nMAgP4WIcno";
          document.getElementById('demo-video').style.display = 'block';
          document.getElementById('demo-info').style.display = 'none';
          window.scrollTo(0, 0);
          // form.getFormElem().hide();
          dataLayer.push({event: 'demo', mktoFormId: form.getId()});
          return false;
        });

        form.onValidate(function() {
          var email = form.vals().Email;

          if (email) {
            if (!isEmailGood(email)) {
              form.submitable(false);
              var emailElem = form.getFormElem().find("#Email");
              form.showErrorMessage("Must be Business email.", emailElem);
            } else {
              form.submitable(true);
            }
          }
        });

        function isEmailGood(email) {
          for(var i=0; i < invalidDomains.length; i++) {
            var domain = invalidDomains[i];
            if (email.indexOf(domain) != -1) {
              return false;
            }
          }
          return true;
        }

      });
